version: '3.8'

services:
  pf-compression-pwa:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "2338:2338"
    restart: unless-stopped
    volumes:
      - ../ts-pwalib:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
